* {
  font-family: Roboto;
}
.cabecera {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.fotoChica {
  max-width: 150px;
  max-height: 150px;
  position:relative;
  top: 200px;
}

.skills {
  color: gray;
}

.favicon {
  width: 70px;
}

.banner {
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  height: 300px;
  
}

.educLogo {
  max-width: 150px;
  max-height: 150px;
}

.proyLogo {
  max-width: 270px;
  max-height: 270px;
}
 /* cards */
 .cards-list {
   z-index: 0;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }

 .card {
   margin-top: 30px;
   width: 200px;
   height: 200px;
   border-radius: 40px;
   cursor: pointer;
   transition: 0.4s;
 }

 .card .card_image {
   width: inherit;
   height: inherit;
   border-radius: 40px;
 }

 .card .card_image img {
   width: 75%;
   position: relative;
   height: 75%;
   left: 12%;
   top: 5%;
   object-fit: cover;
   z-index: 2;
 }

 .card .card_title {
   text-align: center;
   border-radius: 0px 0px 40px 40px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 30px;
   margin-top: -50px;
   height: 40px;
 }

 .card:hover {
   transform: scale(0.9, 0.9);
   box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15),
     -5px -5px 30px 15px rgba(0, 0, 0, 0.15);
 }

 .title-white {
   color: white;
   z-index: 3;
 }

 .title-black {
   color: black;
 }

 .card-1 {
  background-color: coral;
  box-shadow: 5px 5px 30px 7px rgba(227, 79, 38, 0.349), -5px -5px 30px 7px #ff7f5056;
}

.card-2 {
  background-color: cornflowerblue;
  box-shadow: 5px 5px 30px 7px #1b72ba57, -5px -5px 30px 7px #1c88c754;
}

.card-3 {
  background-color: #ffe760;
  box-shadow: 5px 5px 30px 7px #e9cb3257, -5px -5px 30px 7px #ffde2554;
}

.card-4 {
  background-color:rgb(165, 0, 0);
  box-shadow: 5px 5px 30px 7px #dd003050, -5px -5px 30px 7px #c3002e56;
}

.card-5 {
  background: #00059bde;
  box-shadow: 5px 5px 30px 7px #3776a954, -5px -5px 30px 7px #3776a954;
}

.card-6 {
  background: #03094c;
  box-shadow: 5px 5px 30px 7px #03094c57, -5px -5px 30px 7px #28aace59;
}

 @media all and (max-width: 500px) {
   .card-list {
     /* On small screens, we are no longer using row direction but column */
     flex-direction: column;
   }
 }

 /*fin cards/*