.cabecera {
  max-width: 100%;
}


.centrado {
  text-align: center;
}

.fotoChica {
  max-width: 150px;
  max-height: 150px;
  position:relative;
  top: 100px;
}

.skills {
  color: gray;
}

.favicon {
  width: 70px;
}

.banner {
  background-image: url("../images/banner.jpeg");
}

.educLogo {
  max-width: 150px;
  max-height: 150px;
}

.proyLogo {
  max-width: 270px;
  max-height: 270px;
}
